/* navBar section css */
.nav-wrapper {
    background-color: #100F0F;
    width: 100%;
    height: 90px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    letter-spacing: 0.46px;
    z-index: 5;
}
.nav-fix {
    width: 100%;
    height: 100%;
}
.nav-fix ul {
    display: flex;
    justify-content: center;
}
.nav-fix ul li {
    margin: 0 1rem;
}
.nav-fix ul li:first-child{
    margin-left: 0;
} 
.nav-fix ul li a {
    text-decoration: none;
    color: #818080;
    font-weight: 700;
    padding: 1rem 1rem;
}

.nav-fix ul li a:hover {
    background: #17191D;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px rgba(26, 25, 25, 0.4);
    border-radius: 8px;
    color: #FCFCFC;
}
.explore-links a {
    color: #00B9C6;
    text-decoration: none;
}
.aboard-bottom-left {
    width: 50%;
}
.aboard-bottom-left img {
    height: 9rem;
    width: 11rem;
}
.left-text {
    background: linear-gradient(90deg, #FFC20E 0%, #00BAC6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.headline {
    background-color: black;
    padding: 0 8vw;
}

.aboard-bottom {
    background-color: black;
}
.box {
    font-size: 1rem;
    background: rgba(96, 96, 96, 0.4);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.box h1 {
    color: #FFFFFF;
}
.box span {
    color: #FFFFFF;
}
.aboard-bottom-left p {
    background: linear-gradient(90deg, #FFC20E 0%, #00BAC6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.head-tagline {
    color: white;
}
.card-component {
    background-color: black;
}
.card-component .card {
    margin: 2rem 1rem;
    width: 30.5%;
}

.card-content {
    background: #212020;
    border-radius: 0px 0px 24px 24px;
}
.card-title {
    color: #00B9C6;
}
.card-body {
    color: #D1D1D1;
}

.people-say-slider{
   margin-top: 4.2rem;
}

.people-say-slider .profile-img{
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 100%;
    background-color: gray;
    margin-right: 1.5rem;
}

.people-say-slider .people-say-card{
    width: 27vw;
    background: linear-gradient(96.09deg, rgba(32, 32, 32, 0.99) 4.79%, rgba(32, 32, 32, 0) 98.09%);
    color: white;
    border-radius: 2rem;
}

.people-say-slider p{
    margin-top: 1.5rem;
    background: linear-gradient(90deg, #FFC20E 0%, #00BAC6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media screen and (max-width:615px) {
    .card-component {
        flex-direction: column;
    }
    .card-component .card {
        width:100%
    }
    .aboard-bottom {
        flex-direction: column;
    }
    .aboard-bottom-left {
        width: 100%;
    }
    .box {
        font-size: 1.5rem;
        margin: 2rem 0 !important;
    }
    .nav-wrapper {
        display: none;
    }
}
