.about-us-conatiner {
    background: #100F0F;
    color: #D1D1D1;
}

.supporter {
    background-image: linear-gradient(to right, #747474,#100F0F);
    width: 30rem;
    border: 0;
    height: 1px;
}
.subtag-line {
    color: #979797;
    margin: 8px 0px;
}

.ppl-details {
    opacity: 0.8;
    flex-wrap: wrap;
}

.user-img-wrapper {
    height: 5rem;
    width: 5rem;
    top: -3rem;
    border: 2px solid green;
    background: #fff;
    border-radius: 50%;
}

.about-us-info {
    justify-content: space-evenly;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-image: url('../../static/about-blur.svg');
}

.m-site-about-us {
    display: none;
    width: 100%;
    height: 24rem;
}

.msite-info {
    height: 9rem;
}

.user-img {
    background: #2C2C2C;
    opacity: 0.7;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 149px;
}

.linkedin {
    height: 1rem;
    width: 1rem;
}

.msite-linkedin {
    height: 3rem;
    width: 3rem;
}

.designation {
    color: #FFF8E4;
}

.section-heading {
    font-size: 1.4rem;
    color: #D1D1D1;
}

.subsection-heading {
    color: #979797;
    font-size: 1rem;
}

.single-column {
    height: 20rem;
}

.graph-wrapper .column-divider {
    height: 22rem;
    border: 1px solid #333333;
    width: 0;
}

.graph {
    width: 80%;
    text-align: center;
    padding: 0px 7rem;
}

.stage-text {
    background: linear-gradient(to right, #FFC20E, #00BAC6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lenskart-mislleneous-container{
    background-color: #fff;
}

.lenskart-mislleneous-container .title{
    margin: 0;
    font-weight: bold;
    letter-spacing: 0.375rem;
    text-transform: uppercase;
    color: #3C3C3C;
}

.lenskart-mislleneous-container{
    position: relative;
  }
  
  .mislleneous-title-containner{
       margin-top: 3.5rem;
  }
  
  .card-list-mislleneous{
      position: relative;
      z-index: 1;
  }
  
  .card-mislleneous{
      width: 16em;
      height: 100%;
      padding: 1em;
      padding-bottom: 3em;
      background: #FFFFFF;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      margin-right: 1.3rem;
  }

  .card-mislleneous:nth-child(even){
      margin-top: 4.5em;
  }
  
  .card-mislleneous:last-child{
      margin-right: 0;
  }
  
  .card-mislleneous h3,.card-mislleneous p,.mislleneous-card-mobile h3,.mislleneous-card-mobile p{
      margin: 0;
      margin-left: 0.3em;
  }

  #mislleneous-mobile .slick-track{
      height: 225px;
   }

   #mislleneous-mobile .slick-slide{
       width: 22% ;
       margin: 1em ;
       padding: 1em ;
       padding-bottom: 0;
       box-shadow: 0px 1.9801px 10.8806px rgba(0, 0, 0, 0.1);
       border-radius: 1rem;
   }

  .card-mislleneous h3, .mislleneous-card-mobile h3{
      font-weight: bold;
      font-size: 1.1rem;
      line-height: 1.3em;
      letter-spacing: 0.25px;
      color: #00B9C6;
      margin-bottom: 1em;
  }
  
  .card-mislleneous p, .mislleneous-card-mobile p{
      font-weight: 600;
      font-size: 0.9rem;
      line-height: 133.4%;
      color: #606060;
  }
  
  .mislleneous-img{
      width: 100%;
      height: 13em;
      background: rgb(185, 181, 181);
      border-radius: 0.5em;
      margin-bottom: 1.3em;
  }
  
  .cards-back-background{
      position: absolute;
      width: 100vw;
      height: 7em;
      background: linear-gradient(269.72deg, #00DEED 0.14%, #00BAC6 101.8%);
      top: 15.3em;
  }

  #mislleneous-mobile{
      display: none;
  }

@media screen and (max-width:1024px) {
    .graph {
        padding: 0px 6rem;
    }
}

@media screen and (max-width:450px) {
    .supporter {
        display: none;
    }
    .about-us-info {
        display: none;
    }
    .m-site-about-us {
        display: block;
    }

    .graph {
        padding: 0px 4rem;
    }

    .section-heading {
        font-size: 2rem;
    }

    .subsection-heading {
        font-size: 1.4rem;
    }

    #mislleneous-desktop{
        display: none;
    }

    #mislleneous-mobile{
        display: block;
    }
    .mislleneous-img-mobile{
      width: 100%;
      height: 70%;
      background: rgb(185, 181, 181);
      border-radius: 0.5em;
      margin-bottom: 1.3em;
    }
    .horizontal-line{
        display: none;
    }
}
