.footer-container {
    background: #100F0F;
    color: #fff;
}

.footer-company-div ul, .right-footer-content p {
    font-size: 1.2rem;
}

.footer-company-div ul li, .right-footer-content span {
    font-size: 1.2rem;
}

.link {
    height: 5rem;
    width: 10rem;
}

@media screen  and (max-width: 450px){
    .footer-logo {
        height: 3rem;
    }
    .footer-content-wrapper {
        flex-direction: column;
    }
    .footer-company-div ul, .right-footer-content p {
        font-size: 2.5rem;
    }
    .footer-company-div ul li, .right-footer-content span {
        font-size: 1.2rem;
    }
    .link {
        width: 14rem;
    }
}