.header-container { background-image: linear-gradient(90deg,#F9F9E2, #FAFBFA); }

/* -------- nav css ---------- */
.nav-link { color: #3C3C3C; }

.nav-division { color: #F0F0F0; }

.ham-berger { display: none; }
/* -------- nav css ---------- */

.left-content { width: 50%; }

.seconary-tag { color: #76848A; }

.company-website-wrapper { padding: 12px 18px; }

.company-website { color: #00B9C6; }

.header-img {
    height: 40rem;
    width: 25rem;
    float: right;
}

.explose-roles {
    background: #00B9C6;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #fff;
    padding: 12px 18px;
}

#hamberger-options-container{
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: none;
}
#nav-links-mobile{
    box-sizing: border-box;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(180deg,#F9F9E2, #FAFBFA);
    width: 100vw;
}

#nav-links-mobile h3{
    color: #000000;
}

#nav-links-mobile h3 a{
    color: #000000;
    text-decoration: none;
}

.close-img{
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
.nav-links{
    padding-left: 0;
}
.nav-links a{
    color: #3C3C3C;
    text-decoration: none;
}

@media screen and (max-width:615px) {

    .nav-division { display: none; }

    .redirect-link { justify-content: center; }

    .ham-berger { display: block; }

    .nav-links { display: none; }

    .header-container { background: #FFF; }

    .left-content { width: 100%; }

    .seconary-tag { text-align: center; }

    .header-content { flex-direction: column-reverse; }

    .logo-img {
        height: 3rem;
        width: 5rem;
    }

    .tag-text {
        text-align: center;
        font-size: 3rem;
    }

    .header-img {
        float: none;
        width: 100%;
        height: 100%;
    }

    #nav-links-mobile .logo-img{
        width: 4rem;
     }
}
