#perks-benifts{
    background: linear-gradient(100.78deg, #FFFFFF 1.92%, rgba(255, 255, 255, 0) 100%);
    padding-top: 2.5rem;
}

#perks-benifts .title, #purpose-dna .title{
    text-transform: uppercase;
    color: #3C3C3C;
}

.horizontal-line{
    background: linear-gradient(90deg, #BFBFBF 51.76%, rgba(231, 231, 231, 0) 90.54%);
    width: 30rem;
    height: 1px;
}

.learn-more-btn{
    background: transparent;
    font-weight: 500;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: #00B9C6;
    border: none;
    cursor: pointer;
}

.perk-benifit-item-para{
   width: 19rem;
}

.perk-benifit-item h3{
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.25px;
    color: #098084;
    margin-top: 0.2rem;
    margin-bottom: 0;
}

.perk-benifit-item p{
    color: #606060;
}

.point-circle{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    background: #00BAC6;
    box-shadow: 0px 16px 24px rgba(32, 28, 43, 0.18);
}

/* purpose dna */
#purpose-dna .title{
  margin: 0;
}

.purpose-dna-para{
    color: #737B7D;
}

#purpose-dna .card{
    width: 12rem;
    height: 20rem;
    background: linear-gradient(155.99deg, #00A3AD 0%, #78FFD7 104.14%);
    padding-left: 1.5rem;
    box-shadow: 0px 8px 16px rgba(115, 115, 115, 0.2);
    border-radius: 0.5rem;
    margin-right: 1.6rem;
}

#purpose-dna .card h3{
    color: #FFFFFF;
}

/* #purpose-dna .card:last-child{
    width: 80%;
} */

#purpose-dna .card-list{
    margin-bottom: 6.3rem;
    flex-wrap: wrap;
}

#purpose-dna .card-para{
    font-weight: 600;
    line-height: 1.3rem;
    letter-spacing: 0.2px;
    color: #606060;
}

#purpose-dna .card img{
    width: 9.8rem;
    height: 9.8rem;
    margin-left: 4.5rem;
    margin-top: -1.8rem;
}

#purpose-dna img.crown-img{
    margin-top: -2.8rem;
}


#purpose-dna-modal-container{
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
    display: none;
}

#purpose-dna-modal{
    background: #FFFFFF;
    margin-top: 4rem;
    width: 84vw;
    position: absolute;
    top: 0;
    z-index: 2;
    border-radius: 1rem;
}

#purpose-dna-modal img{
    width: 5.3rem;
    height: 5.3rem;
}

.purpose-dna-modal-top{
   margin-top: 3.5rem;
   margin-left: 2.5rem;
}

.purpose-dna-modal-top span{
    color: rgba(60, 60, 60, 0.54);
}

.purpose-dna-modal-top h3{
    color: #3C3C3C;
}

#purpose-dna-modal ol{
    margin: 2rem 0 3rem 0;
    padding-left: 1.8rem;
    padding-right: 3rem;
}

#purpose-dna-modal li{
    list-style: decimal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.25px;
    color: #666666;
    margin-bottom: 1.5rem;
}

#purpose-dna-close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    right: -1rem;
    top: -1rem;
    cursor: pointer;
}

#purpose-dna-modal-img {
    margin-top: -1rem;
}

#purpose-dna-close-btn img{
    width: 1.2rem;
    height: 1.2rem;
}

@media screen and (max-width: 615px) {
    #purpose-dna .card {
        width: 15rem;
        height: 12rem;
    }
    #purpose-dna .card-para {
        display: none;
    }
    #purpose-dna .card-heading {
        text-align: center;
    }
    #purpose-dna .card img{
        margin-left: 2.5rem;
    }
}

@media screen  and (max-width: 450px){
    #perks-benifts .row{
        flex-direction: column;
    }
    .horizontal-line{
        display: none;
    }
    .perk-benifit-item{
        margin-right: 0;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid #66646450;
    }
    #perks-benifts .not-border{
        padding-bottom: 0;
        margin-bottom: 4rem;
        border-bottom: none;
    }
    .perk-benifit-item-para{
        width: 100%;
        margin-bottom: 0;
    }
    #purpose-dna-modal ol{
        margin-left: -5rem;
    }
}