.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
  }
  .slick-dots li {
    margin: 0 0.25rem;
  }
  .slick-dots button {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background: #E5E5E5;
    text-indent: -9999px;
  }
  .slick-dots li.slick-active button {
    background-color: #000000;
  }

  .people-say-slider .slick-dots li.slick-active button {
    background-color: #00BAC6
  }