@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&family=Rajdhani:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1em;
    box-sizing: border-box;
    font-family: Roboto;
}

/*  ------------- display flex css ---------------- */
.display-flex { display: flex; }
.justify-center { justify-content: center; }
.justify-space-between { justify-content: space-between; }
.justify-space-around { justify-content: space-around; }
.justify-space-evenly { justify-content: space-evenly; }
.align-center { align-items: center; }
.flex-column { flex-direction: column; }
.align-self { align-self: flex-start; }


.text-center { text-align: center; }

/*  ----------- position css --------------- */
.pos-rel { position: relative; }
.pos-abs { position: absolute; }
.pos-fix { position: fixed; }

/*  ------------- font family --------------- */
.roboto { font-family: roboto; }
.rajdhani { font-family: Rajdhani; }
.mulish { font-family: Mulish; }

/*  ------------- font weight --------------- */
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fwBold { font-weight: bold; }

/*  -------------- margin css -------------- */
.mr-0 { margin: 0; }
.mr-1 { margin: 1rem; }
.mr-5 { margin: 5rem; }

/*  -------------- margin left css -------------- */
.mr-l1 { margin-left: 1rem; }
.mr-l2 { margin-left: 2rem; }
.mr-l5 { margin-left: 5rem; }

/*  -------------- margin right css -------------- */
.mr-r1 { margin-right: 1rem; }
.mr-r2 { margin-right: 2rem; }
.mr-r3 { margin-right: 3rem; }
.mr-r4 { margin-right: 4rem; }
.mr-r5 { margin-right: 5rem; }

/*  -------------- margin top css -------------- */
.mr-t-5 { margin-top: .5rem; }
.mr-t1 { margin-top: 1rem; }
.mr-t1-5 { margin-top: 1.5rem; }
.mr-t2 { margin-top: 2rem; }
.mr-t5 { margin-top: 5rem; }
.mr-t7 { margin-top: 7rem; }

/*  -------------- margin bottom css -------------- */
.mr-b-5 { margin-bottom: .5rem; }
.mr-b1 { margin-bottom: 1rem; }
.mr-b2 { margin-bottom: 2rem; }
.mr-b4 { margin-bottom: 4rem; }
.mr-b5 { margin-bottom: 5rem; }
.mr-b7 { margin-bottom: 7rem; }

/*  -------------- padding css -------------- */
.pd-0 { padding: 0; }
.pd-1 { padding: 1rem; }
.pd-1-5 { padding: 1.5rem; }
.pd-2 { padding: 2rem ;}
.pd-5 { padding: 5rem; }
.pd-n { padding: 0 8vw; }

/*  -------------- padding top css -------------- */
.pd-t1 { padding-top: 1rem; }
.pd-t2 { padding-top: 2rem; }
.pd-t5 { padding-top: 5rem; }

/*  -------------- padding bottom css -------------- */
.pd-b0 { padding-bottom: 0; }
.pd-b1 { padding-bottom: 1rem; }
.pd-b2 { padding-bottom: 2rem; }
.pd-b3 { padding-bottom: 3rem; }
.pd-b4 { padding-bottom: 4rem; }
.pd-b5 { padding-bottom: 5rem; }
.pd-b7 { padding-bottom: 7rem; }

/*  -------------- padding top css -------------- */
.pd-l1 { padding-left: 1rem; }
.pd-l2 { padding-left: 2rem; }
.pd-l5 { padding-left: 5rem; }
.pd-l6 { padding-left: 6rem; }
.pd-l7-5 { padding-left: 7.5rem; }

/*  -------------- padding bottom css -------------- */
.pd-r0 { padding-right: 0; }
.pd-r1 { padding-right: 1rem; }
.pd-r5 { padding-right: 5rem; }

/*  --------------- font css --------------- */

.fs0-8 { font-size: .8rem; }
.fs1 { font-size: 1rem; }
.fs1-2 { font-size: 1.2rem; }
.fs1-4 { font-size: 1.4rem; }
.fs1-5 { font-size: 1.5rem; }
.fs2 { font-size: 2rem; }
.fs2-4 { font-size: 2.4rem; }
.fs5 { font-size: 5rem; }
.fs8 { font-size: 8rem; }

/*  ------------- common css --------------- */

li {
    list-style-type: none;
}

.section-divider {
    display: block;
    letter-spacing: 1rem;
    color: #494949;
    overflow: hidden;
}

/*  ------------ color ----------------- */

.pink { color: #DDDDDD; }

/* ----------- background ------------- */
.bg-black {background-color: #000000;}

/* ----------- media query ----------------- */

@media screen and (max-width:1075px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width:900px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:700px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width:615px) {
    html {
        font-size: 8px;
    }
}